<!DOCTYPE html  .. "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0055)file:///C:/Users/BHANU/Desktop/Web%20dev/Dashboard.html -->
<html xmlns="http://www.w3.org/1999/xhtml"><head id="FormsHead"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>
	Educational Qualification
</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link id="ContrastStyleSheet" href="  ../bootstrap.css" rel="stylesheet" type="text/css">
<link href="  ../font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link id="ContrastStyleSheet" href="  ../Layout.css" rel="stylesheet" type="text/css">
<link id="CultureSheet" href="  ../LayoutEN.css" rel="stylesheet" type="text/css">
<link id="Link1" href="  ../LayoutEN.css" rel="stylesheet" type="text/css">
    <link href="  ../sb-admin-2.css" rel="stylesheet" type="text/css">
    <link href="  ../bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="  ../font-awesome.min(1).css" rel="stylesheet" type="text/css">
    <link href="  ../PopStyles.css" rel="stylesheet" type="text/css">
    <link href="  ../fileuploader.css" rel="stylesheet" type="text/css">
    <link href="file:///C:/Users/BHANU/Desktop/Web%20dev/ ../vscroller.css" rel="stylesheet" type="text/css">
    <link href="  ../GridviewScroll.css" rel="stylesheet" type="text/css">
    <link id="SiteLayoutSheet" href="  ../Layout1.css" rel="stylesheet" type="text/css">
    <link id="Link2" href="  ../Site1.css" rel="stylesheet" type="text/css">
   
    <style type="text/css">
        /* The Modal (background) */
        .mySessionModal-modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .mySessionModal-modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 400px;
        }
    .btn-primary{
        background-color: #bd135b;
        border-color: #bd135b;
    }
        /* The Close Button */
        .mySessionModalclose {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .mySessionModalclose:hover, .mySessionModalclose:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
    



   
   
    <style type="text/css">
        .red {
            color: Red !important;
            font-weight: bold;
            padding-left: 5px;
        }
    </style>
    <style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>

<body onload="  " onpageshow="">
    <div class="topdiv">
        <div class="topbuton container">
        </div>
    </div>
    <div class="top_banner">
        <div class="container in_banner">
            <div class=" logo col-md-3 col-sm-3 col-xs-12">
                <img id="" class="img-responsive" src="  ../tecsok-2.png" style="border-width:0px;">
               
            </div>
            <div class="banner_text col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-center">
                    <span id=""><b><u>Technical Consultancy Service Organisation of Karnataka</u></b></span>
                </h2>
                <h4 class="text-center">
                    <span id="">Online Application Portal </span>
                </h4>
            </div>
            <div class=" logo col-md-3 col-sm-3 col-xs-12">

          
                
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="">            
            

        </div>
    </div>
    </nav>
   









        <div id="divnew" class="medium">
            <div id="main">
                
                <div class="container-fluid" id="main-content">
                    <div id="dvLeftMenu">
                        <div>
                            <div class="navbar-default sidebar" role="navigation">
                                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="min-height: 570px; background-color: #bd135b;">
                                    <ul class="nav in" id="side-menu">
                                        <li>
                                            <a href="/"><i class="fa fa-home fa-fw"></i><span id="liHome">My dashboard</span> </a>
                                        </li>
                                        <li>
                                            <a href="/Blank"><i class="fa fa-user fa-fw"></i><span id="liProfileCreation">My Profile</span></a>
                                        </li>
                                        
                                        
                                        <li>
                                            <a href="/Blank"><i class="fa fa-sign-out" aria-hidden="true"></i><span id="liMyApplication">Log out</span></a>
                                        </li>
                                        
                                        
                                        
                                        
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    </div>
                    
                    <div class="clear" style="height: 10px">&nbsp; &nbsp;</div>
                    
                    <div class="row" style="padding-left: 30rem; font-size: large; ">
                        <div class="col-sm-6 col-md-4" style="width: 37rem; height: 25rem; padding-left:5rem ; padding-right: 5rem; ">
                          <div class="thumbnail">
                            <div class="caption">
                              <h3 style="color:#bd135b;">What's New</h3>
                              <p>Update What's new for the home page</p>
                              <p style="color:#bd135b;"><a href="/Blank" class="btn btn-primary" role="button">Go</a> </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-4" style="width: 37rem; height: 25rem; padding-left: 5rem; padding-right: 5rem;">
                            <div class="thumbnail">
                              <div class="caption">
                                <h3 style="color:#bd135b;">Recruitment details</h3>
                                <p>Update vacant Recruitment details with appropriate requirements </p>
                                <p style="color:#bd135b;"><a href="/Blank" class="btn btn-primary" role="button">Go</a> </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4" style="width: 37rem; height: 25rem; padding-left: 5rem; padding-right: 5rem;">
                            <div class="thumbnail">
                              <div class="caption">
                                <h3 style="color:#bd135b;">All candidate Details</h3>
                                <p>Examine registered candidate details</p>
                                <p style="color:#bd135b;"><a href="/Blank" class="btn btn-primary" role="button">Go</a> </p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="row" style="padding-left: 30rem; font-size: large;">
                        <div class="col-sm-6 col-md-4" style="width: 37rem; height: 25rem; padding-left:5rem ; padding-right: 5rem;">
                          <div class="thumbnail">
                            <div class="caption">
                              <h3 style="color:#bd135b;">Generate Hall ticket</h3>
                              <p>Generate Hall tickets and mail it to all the registered candidates</p>
                              <p style="color:#bd135b;"><a href="/Blank" class="btn btn-primary" role="button">Go</a> </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-4" style="width: 37rem; height: 25rem; padding-left: 5rem; padding-right: 5rem;">
                            <div class="thumbnail">
                              <div class="caption">
                                <h3 style="color:#bd135b;">Generate OMR sheets</h3>
                                <p>Generate OMR sheets for each of the candidates</p>
                                <p style="color:#bd135b;"><a href="/Blank" class="btn btn-primary" role="button">Go</a> </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-4" style="width: 37rem; height: 25rem; padding-left: 5rem; padding-right: 5rem;">
                            <div class="thumbnail">
                              <div class="caption">
                                <h3 style="color:#bd135b;">Send Email</h3>
                                <p>Send Email to all the candidates for the announcements about Examination</p>
                                <p style="color:#bd135b;"><a href="/Blank" class="btn btn-primary" role="button">Go</a> </p>
                              </div>
                            </div>
                          </div>
                      </div>
                    
                    </div></div></div></body></html>